body {
    text-align: center;
    background-color: rgb(19,57,77);
    background-image: url('../img/Blue_Map_Background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.close {
    float: right;
    cursor: pointer;
    font-family: sans-serif;
}

.close:hover {
    
    color: red;
}

/* map.html styles */

#map-page {
    display: inline-block;
    width:90%;
}

#map-page h1{
    text-shadow: 5px 10px 10px black;
}

#itineraryName>input#name {
    height: 2rem;
    width: 20rem;
    text-align: center;
}

#itinerary {
    text-align: center;
    align-items: center;
    display: inline-block;
    width: 45%;
    margin-right: 4%;
}

#itinerary>input {
    height: 3rem;
    width: 30%;
    background-color: #477297;
    border-style: none;
    border-radius: 10px;
    box-shadow: 5px 10px 10px black;
    margin-top: .25rem;
    font-weight: 800;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: .75rem;
}

#itinerary>label {
    font-size: .75rem;
    display: inline-block;
    height: 3rem;
    width: 30%;
    background-color: #477297;
    border-style: none;
    border-radius: 10px;
    box-shadow: 5px 10px 10px black;
    margin-top: .25rem;
    font-weight: 800;
    margin-bottom: 20px;
    padding: 1rem 0;
    margin-left: 5px;
    margin-right: 5px;
}

#itinerary>label>input {
    display: none;
}

#itinerary>input:hover {
    background-color: #385f81;
}

#itinerary>label:hover {
    background-color: #385f81;
}

ul#poi {
    display: block;
    height: 30rem;
    width: 100%;
    background-color: #5785ac;
    text-align: left;
    padding: 1rem;
    overflow-y: auto;
    list-style: none;
    margin-bottom: 0rem;
    border-radius: 10px;
    box-shadow: 5px 10px 10px black;
}

ul#poi li {
    background-color: #477297;
    cursor: pointer;
    margin-bottom: .5rem;
    font-size: 1rem;
    padding: .5rem;
    border-radius: 5px;
    box-shadow: 1px 2px 10px black;
}

ul#poi li:hover {
    background-color: #385f81;
}

li.dragging {
    color: gray;
}

.time {
    float: right;
    margin-right: 2rem;
}

#map {
    display: inline-block;
    height: 34rem;
    margin-left: 3%;
    width: 45%;
    padding: 0rem;
    border-radius: 10px;
    box-shadow: 5px 10px 10px black;
}

@media only screen and (max-width: 1500px) { 
    #itinerary {
        width: 60%;
    }

    #map {
        width: 30%;
    }
}

@media only screen and (max-width: 1080px) { 
    #itinerary {
        width: 90%;
        margin-right: 0;
    }

    #itinerary input{
        width:2.8rem;

    }

    #itinerary ::-webkit-calendar-picker-indicator {
        display: none;
    }

    #map {
        width: 90%;
        margin-left: 0;
    }
}

@media only screen and (max-width: 1080px) { 
    #itinerary a{
        font-size: .5rem;
    }
}



/* trips.php styles */
#trips {
    display: inline-block;
    text-align: center;
    padding: 1rem;
    overflow-y: auto;
    z-index: 11;

    background-color: #5785ac;
    width: 60%;
    padding-left: 5%;
    padding-right: 5%;
    min-height: calc(100vh - 130px);
    border-radius: 10px;
    box-shadow: 5px 10px 10px black;

}

#trips ul {
    display: block;
    text-align: left;
    list-style: none;
    z-index: 0;
}

#trips li {
    margin-bottom: .5rem;
    font-size: 1rem;
    padding: .5rem;
    background-color: #477297;
    border-radius: 5px;
    box-shadow: 1px 2px 10px black;
}

#trips li:hover {
    background-color: #385f81;
}

#trips a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

/* account.php styles */
div#userInfo {
    display: inline-block;
    text-align: left;
    background-color: #5785ac;
    width: 60%;
    padding-left: 5%;
    padding-right: 5%;
    min-height: calc(100vh - 130px);
    border-radius: 10px;
    box-shadow: 5px 10px 10px black;
    overflow-x: auto + 100px;
}

div#userInfo p {
    color: black;
    font-size: 17px;
    text-align: left;
}
div#userInfo hr {
    color: black;
    font-size: 20px;
    text-align: left;
}

div#userInfo h2 {
    font-size: 20px;
    text-align: left;
}

div#userInfo h3 {
    text-align: left;
}

/* poiChoice.html styles */
#choice {
    display: inline-block;
    width: 60%;
    background-color: #5785ac;
    text-align: center;
    padding: 1rem;
    overflow-y: auto;
    border-radius: 5px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px black;
}

#choice_map { 
    display: inline-block;
    height: calc(100vh - 400px);
    width: 50%;
    border-radius: 10px;
    box-shadow: 5px 10px 10px black;
    margin-left: 1rem;
}

#choice p {
    width: 40%;
    display: inline-block;
    
}

#choice a>img {
    display: inline-block;
    border-radius: 10px;
    box-shadow: 5px 10px 10px black;
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 1080px) { 
    #choice_map { 
        width: 90%;
        margin-left: 0rem;
    }
    #choice p {
        width: 90%;
    }
}

@media only screen and (max-width: 480px) { 
    #choice_map { 
        height: 200px
    }
}