body {
    text-align: center;
}
#poi {
    display: block;
    height: 30rem;
    width: 40rem;
    background-color: lightblue;
    text-align: left;
    padding: 1rem;
    overflow-y: auto;
    border-radius: 5px;
}

#itinerary {
    display: inline-block;
}

#itinerary > input{
    height: 3rem;
    width: 22rem;
    background-color: rgb(131, 181, 197);
    border-style: none;
    border-radius: 5px;
    margin-top: .25rem;
    font-weight: 800;
}

ul {
    padding-left: 0rem;
    padding-right: 0rem;
    list-style-type: none;
    display: block;
    position: relative;
}

ul.itineraryDay li:first-child{
    text-align: center;
    border-bottom: .25rem solid black;
}

li {
    cursor: pointer;
    margin-bottom: .5rem;
    font-size: 1rem;
    padding: .5rem;
}

.dragging {
    color: gray;
}

li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    background-color: lightblue;
    border-radius: 5px;
  }

li a:hover {
    background-color: rgb(191, 227, 239);
}

.close {
    cursor: pointer;
    position: absolute;
    right: 1rem;
    font-family: sans-serif;
}

.time {
    position:sticky;
    float: right;
    margin-right: 2rem;
    
}

.close:hover {
    color: red;
}

.itineraryDay li:hover {
    background-color: rgb(191, 227, 239);
}

#map {
    display: inline-block;
    height: 34rem;
    width: 50rem;
    padding: 0rem;
}