body {
    text-align: center;
}
#poiList {
    display: inline-block;
    height: 30rem;
    width: 20rem;
    background-color: lightblue;
    text-align: left;
    padding: 1rem;
    overflow-y: auto;
}
#map {
    display: inline-block;
    height: 30rem;
    width: 50rem;
    padding: 1rem;
}