body {
    text-align: center;
}
<<<<<<< HEAD
#poi {
    display: inline-block;
    height: 30rem;
    width: 20rem;
    background-color: lightblue;
    text-align: left;
    padding: 1rem;
    overflow-y: auto;
}

ul {
    padding-left: 0rem;
    padding-right: 0rem;
    list-style-type: none;
    display: block;
    position: relative;
}

li {
    cursor: pointer;
    margin-bottom: .5rem;
    font-size: 1rem;
    padding: .5rem;
}

.dragging {
    color: gray;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
=======
>>>>>>> 8dc8a6940bf5cf721d95edb878267bbfac2786bf

.close {
    cursor: pointer;
    position: absolute;
    right: 1rem;
    font-family: sans-serif;
}

.close:hover {
    color: red;
}

/* Home Bar styles */
li.homeBar {
    display: inline;
}

li.homeBar a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    background-color: lightblue;
    border-radius: 5px;
  }

li.homeBar a:hover {
    background-color: rgb(191, 227, 239);
}

/* map.html styles */
#itinerary {
    display: inline-block;
}

#itinerary > input{
    height: 3rem;
    width: 22rem;
    background-color: rgb(131, 181, 197);
    border-style: none;
    border-radius: 5px;
    margin-top: .25rem;
    font-weight: 800;
}

#itinerary > input:hover {
    background-color: lightblue;
}

ul#poi {
    display: block;
    height: 30rem;
    width: 42.5rem;
    background-color: lightblue;
    text-align: left;
    padding: 1rem;
    overflow-y: auto;
    border-radius: 5px;
    list-style: none;
    padding-right: 0rem;
    position: relative;
    margin-bottom: 0rem;
}

ul#poi li {
    cursor: pointer;
    margin-bottom: .5rem;
    font-size: 1rem;
    padding: .5rem;
}

ul#poi li:hover {
    background-color: rgb(191, 227, 239);
}

li.dragging {
    color: gray;
}

.time {
    position:sticky;
    float: right;
    margin-right: 2rem;
}

#map {
    display: inline-block;
    height: 34rem;
    width: 50rem;
    padding: 0rem;
}

/* trips.html styles */
#trips {
    display: inline-block;
    height: 30rem;
    width: 50rem;
    background-color: lightblue;
    text-align: center;
    padding: 1rem;
    overflow-y: auto;
    border-radius: 5px;
    
}

#trips ul {
    text-align: left;
    list-style : none;
    width: 47rem;
    position: relative;
}

#trips li {
    margin-bottom: .5rem;
    font-size: 1rem;
    padding: .5rem;
}

#trips li:hover {
    background-color: rgb(191, 227, 239);
}

#trips a {
    text-decoration: none;
    color: black;
}

#trips .dates {
    position:sticky;
    float: right;
    margin-right: 5rem;
}